<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv = "X-UA-Compatible" content = "IE-edge"/>
    <meta name = "viewport" content = "width = device-width, initial-scale = 1"/>

    <title>Index</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src = "https://code.angularjs.org/1.6.4/angular.min.js"></script>
    <script src = "https://code.angularjs.org/1.6.4/angular-route.min.js"></script>
    <script src = "../javascript/app.js"></script>
    <script src = "../javascript/controller/controleController.js"></script>
    <script src = "../javascript/controller/cadastroController.js"></script>
    <script src = "../javascript/controller/LoginController.js"></script>
    <script src = "../javascript/jquery-3.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="https://code.angularjs.org/1.6.4/angular-animate.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.css" rel="stylesheet" />

</head>
<body ng-app="myApp">
<!-- PARTE DO NAVBAR -->
<nav class="navbar navbar-inverse bg-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">The official page of SUCCESS!</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/login">Sign In</a></li>
            <li><a href="#/cadastro">Sign Up</a></li>
        </ul>
    </div>
</nav>
<div ng-view="ng-view"></div>
</body>
</html>