<form class = "form2">
    <img class="profile-img" src="http://www.1000springs.org.nz/static/img/icons/login.png"/>
    <input type="text" class="form-control login-input" name="nome" placeholder="Nome" autofocus="" ng-model="nome" required="true"/>
    <input type="text" class="form-control login-input" name="sobrenome" placeholder="Sobrenome" autofocus="" ng-model="sobrenome" required="true"/>
    <input type="text" class="form-control login-input" name="email" placeholder="E-mail" autofocus="" ng-model="email" required="true"/>
    <input type="password" class="form-control login-input" name="password" placeholder="Password" autofocus="" ng-model="password" required="true"/>
    <a class = "btn btn-lg btn-primary btn-block" ng-click="save()">Cadastrar!</a>
    <a class = "btn btn-lg btn-primary btn-block" href="../">Voltar</a>
    <toaster-container></toaster-container>
</form>
