<form class="form">
    <img class="profile-img" src="http://www.1000springs.org.nz/static/img/icons/login.png"/>
    <input type="text" class="form-control login-input" name="email" placeholder="E-mail" autofocus="" ng-model="info[0]" required="true"/>
    <input type="password" class="form-control login-input" name="password" placeholder="Password" autofocus="" ng-model="info[1]" required="true"/>
    <a class = "btn btn-lg btn-primary btn-block" href="controle" >Entrar</a>
    <a class = "btn btn-lg btn-primary btn-block" href="../">Voltar</a>
    <toaster-container></toaster-container>
</form>
